* {
     margin: 0;
     padding: 0;
     font-family: 'Overpass', sans-serif;
     color: white;
}
body {
     background: #262626;
     
}
.navbar-container {
     display: flex;
     justify-content: left;
     align-content: center;
     align-items: center;
     background-color:rgb(83, 140, 163);
     width: 100%;
     margin:auto;
     height: 50px;
}
.navbar-menu {
     display: flex;
     align-items: center;
     text-align: center;
}
.navbar-links {
     color: white;
     text-decoration: none;
     padding: 0 1rem;
}
ul {
     list-style: none;
}
.logo {
     align-items: center;
}
.portfolio-links  {
     background-color: rgb(83, 140, 163);
     color:white;
     padding: 5px;
     text-decoration: none;
     border-radius: 4px;
     font-size: 20px;
}
.portfolio-links:hover {
    border-bottom: 2px solid white; 
}
.main-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}
.labs {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 35px;
}
.portfolio-titles{ 
     color: white;
     margin-bottom: 10px;
}

.portfolio-list li {
     background-color: rgb(83, 140, 163);
     margin: 10px;
     vertical-align: middle;
}
.portfolio-list {
     display:flex;
     align-items: center;
     flex-direction: column;
}
.home {
     display: grid;
     grid-template-columns: 1fr 1fr;
}
.image {
     display: flex;
     justify-content: center;
     align-items: center;
}
.button {
     background-color:rgb(83, 140, 163);
     padding: 3px 7px;
}
.myStory {
     float: bottom;
     justify-content: left;
     width: 60%;

}
#hiddenStory {
     display: none;
     text-align: justify;
     text-justify: inter-word;
     margin-bottom: 20px;
     text-indent: 25px;
     margin-top: 50px;
     margin-left: 50px;
}
.portIntro {
     width: 75%;
     justify-content: center;
     align-content: left;
     margin: auto;
     text-align: justify;
     text-justify: inter-word;
}
.portIntro h1 {
     margin-top: 30px;
     justify-content: center;
}
.container1 {
     display: flex;
     flex-direction: column;
     margin: 200px 0 100px 200px;
}
.container1 h1{
     margin-bottom: 25px;
     font-weight: 700;

}
.container1 p {
     text-indent: 10px;
     margin-bottom: 25px;
     text-align: justify;

}
.image img {
     width: 65%;
     height: 75%;
     border-radius: 100%;
     margin-top: 100px;

}