* {
     margin: 0;
     padding: 0;

}
body {
     background: rgb(53, 53, 53);
     
}
.navbar-container {
     display: flex;
     justify-content: space-between;
     align-content: center;
     align-items: center;
     background-color:rgb(83, 140, 163);
     width: 100%;
     margin:auto;
     height: 50px;
}
.navbar-menu {
     display: flex;
     align-items: center;
     text-align: center;
}
.navbar-links {
     color: white;
     text-decoration: none;
     padding: 0 1rem;
}
ul {
     list-style: none;
}
.logo {
     align-items: center;
}

